#wrapper {
    display: flex;
    width: 50%;
    height: 33%;
    margin-left: 25%;
    margin-top: 200px;
}
#first {
    width: 50%;
    background-image: url(kitty.png);
}
#second {
    width: 50%;
    float: right;
    float: top;
}

h1{
    font-size: 25px;
    margin: 20px;
    text-align: center;
}
h2{
    font-size: 15px;
    font-weight: 100;
    margin: 20px;
    text-align: justify;
}